body {
  font-family: Calibri, Bold, Arial, Impact;
  background-color: #c9daf8;
  width: 100%;
}

#page {
  background-color: #9fc5e8;
  padding: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 50%;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}

form {
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #9fc5e8;
  border-color: #2980b9;
  color: #fff;
}

footer {
  background-color:#9fc5e8;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item2 {
  padding: 20px;
  text-align: center;
}

.container {
  position: relative;
  width: 20%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #9fc5e8;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}